<header>
<div class="d-flex text-center align-items-center justify-content-left" style="height: 100vh;">
  <div style="font-size: 20px;">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/Superhero" routerLinkActive="active">View Superheroes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/superheroadd" routerLinkActive="active">Add a new Superhero</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/editsuperhero" routerLinkActive="active">Update/Edit an existing Superhero</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/deletesuperhero" routerLinkActive="active">Delete a Superhero</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
</header>