<h1 style="text-align:center;">Superhero Database</h1>

<main style="margin:0 auto; width:70%;">
  <table style="border-collapse:collapse; width:100%;">
    <thead>
      <tr>
        <th style="border:1px solid black; text-align:center;">Name</th>
        <th style="border:1px solid black; text-align:center;">Nickname</th>
        <th style="border:1px solid black; text-align:center;">Superpower</th>
        <th style="border:1px solid black; text-align:center;">Telephone Number</th>
        <th style="border:1px solid black; text-align:center;">Birth Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of superhero; let i = index"
          [ngClass]="{'even-row': i % 2 == 0, 'odd-row': i % 2 != 0}"
          style="border:1px solid black;">
        <td style="border:1px solid black; text-align:center;">{{a.name}}</td>     
        <td style="border:1px solid black; text-align:center;">{{a.nickname}}</td>        
        <td style="border:1px solid black; text-align:center;">{{a.superpower}}</td>     
        <td style="border:1px solid black; text-align:center;">{{a.telephone}}</td>       
        <td style="border:1px solid black; text-align:center;">{{a.dateofbirth}}</td>           
      </tr> 
    </tbody>
  </table>
  <br><br><br>
</main>
