<!-- <h1 style="text-align:center;">Add new Superhero</h1>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="text-align:center">
          <form>
            <div class="form-group">
              <label style="color: blue;">Id</label>
              <input type="number" class="form-control" name="id" id="id" [(ngModel)]="newSuperhero.id" autofocus required>
            </div>
            <div class="form-group">
              <label style="color: blue;">Name</label>
              <input class="form-control" name="name" id="name" [(ngModel)]="newSuperhero.name" required>
            </div>
            <div class="form-group">
              <label style="color: blue;">Nickname</label>
              <input class="form-control" name="nickname" id="nickname" [(ngModel)]="newSuperhero.nickname" required>
            </div>
            <div class="form-group">
              <label style="color: blue;">Superpower</label>
              <input class="form-control" name="superpower" id="superpower" [(ngModel)]="newSuperhero.superpower" required>
            </div>
            <div class="form-group">
              <label style="color: blue;">Telephone</label>
              <input class="form-control" name="telephone" id="telephone" [(ngModel)]="newSuperhero.telephone" required>
            </div>
            <div class="form-group">
              <label style="color: blue;">Date of Birth</label>
              <input type="Date" class="form-control" name="dateofbirth" id="dateofbirth" [(ngModel)]="newSuperhero.dateofbirth" required>
            </div>
            <button class="btn btn-dark" style="background-color: white;" (click)="onClickAddButton()">Add new Superhero</button>
          </form>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
  
  <h1 style="text-align:center;">Add a new Superhero!</h1>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <!-- <label>ID:</label> -->
      <!-- <input class="form-control" type="Number" name="id" id="id" [(ngModel)]="id" autofocus required> -->
       <label>Name:</label> 
      <input class="form-control" name="name" id="name" [(ngModel)]="newSuperhero.name" required>
      <label>Nickname:</label>
      <input class="form-control" name="nickname" id="nickname" [(ngModel)]="newSuperhero.nickname" required>
      <label>Superpower:</label>
      <input class="form-control" name="superpower" id="superpower" [(ngModel)]="newSuperhero.superpower" required>
      <label>Phone Number:</label>
      <input  class="form-control" name="telephone" id="telephone" [(ngModel)]="newSuperhero.telephone" required>
      <label>Date of Birth</label>
      <input type="Date" class="form-control" name="dateofbirth" id="dateofbirth" [(ngModel)]="newSuperhero.dateofbirth" required>
      <br>
      <button class="btn btn-dark" style="background-color: white;" (click)="onClickAddButton()">Add new Superhero</button>
    </div>
  </div>
</div>
<div style="text-align:center;">
  <img src="assets/spiderman.jpg" alt="Spiderman">
</div>

<router-outlet></router-outlet>