<table class="table table-bordered">
    <!-- <thead class="thead-dark"> -->
        <tr>
            <th>id</th>
            <th>userId</th>
            <th>Title</th>
        </tr>
    <!-- </thead> -->
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
        </tr>
    </tbody>
</table>