<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
  <div class="col" *ngFor="let review of reviews">
      <div class="card shadow-sm h-100">
          <div class="card-body">
              <h5 class="card-title">{{review.reviewer}}</h5>
              <p class="card-text">{{review.comment}}</p>
              <p class="card-text">{{review.date}}</p>
          </div>
      </div>
  </div>
</div> -->