<h1 style="text-align:center;">Update Superhero</h1>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <label>ID:</label>
      <input class="form-control" name="id" id="id" [(ngModel)]="id" autofocus required>
      <label>Name:</label>
      <input class="form-control" name="name" id="name" [(ngModel)]="name" required>
      <label>Nickname:</label>
      <input class="form-control" name="nickname" id="nickname" [(ngModel)]="nickname" required>
      <label>Superpower:</label>
      <input class="form-control" name="superpower" id="superpower" [(ngModel)]="superpower" required>
      <label>Phone Number:</label>
      <input  class="form-control" name="telephone" id="telephone" [(ngModel)]="telephone" required>
      <label>Date of Birth:</label>
      <input type="Date" class="form-control" name="dateofbirth" id="dateofbirth" [(ngModel)]="dateofbirth" required>
      <button class="btn btn-dark" (click)="onClickSaveButton()">Update/Save</button>
    </div>
  </div>
</div>
<div style="text-align:center;">
    <img src="assets/superman.png" alt="Superman">
  </div>
