
 <div style="display: flex; justify-content: center;">
    <div class="container row m-3 col-6">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-4">
                    <label>ID:</label>
                    <input class="form-control" type="number" name="id" id="id" [(ngModel)]="id" autofocus required>
                    <!-- <label>Name:</label> -->
                    <br><br>
                    <button class="btn btn-dark mt-3" (click)="onClickDeleteButton()">Hulk Smash the record from the table (Delete)</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br> <br>
<div style="text-align:center;">
    <img src="assets/hulk.jpeg" alt="Hulk">
  </div>